{% extends 'layout.html'%}
{% load static %}

{% block titulo %}Categoría:{% endblock %}
{% block cuerpo %}

{% load humanize %}
<h1>Categoria: {{ categoria }}</h1>
<div class="container">
	<div class="row">
		{% for producto in entity %}
	<div class="card m-3" style="width: 18rem;">
			<img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.titulo }}" style="min-height: 280px">
			<div class="card-body">
				<h5 class="card-title">{{ producto.titulo | capfirst}}</h5>
				<h3>${{ producto.precio | intcomma }}</h3>
				<a href="{% url 'visualizar' producto.id %}" class="btn btn-primary">VER PRODUCTO</a>
			</div>
		</div>
		{% endfor %}
	</div>

</div>

<hr>

<div class="paginator">
	{% include 'paginator.html' %}
</div>


{% endblock %}

