{% extends 'layout.html'%}
{% load static %}
{% block titulo %}Login{% endblock %}

{% block cuerpo %}
{% load crispy_forms_tags %}

<br>

<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<div class="card">
				<div class="card-body">
					<h1>ACCEDER A LA WEB</h1>
					{% if form.errors %}
					<p>Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
					{% endif %}

					{% if next %}
					{% if user.is_authenticated %}
					<p>Tu cuenta no tiene acceso a esta página. Para proceder,
					por favor inicie sesión con una cuenta que tenga acceso </p>
					{% else %}
					<p>Por favor, registrate para ver esta página.</p>
					{% endif %}
					{% endif %}
					<form action="" method="POST">
						{% csrf_token %}
						{{ form | crispy }}
						<input type="submit" value="LOGIN" class="btn btn-info">
						<a href="{% url 'registro' %}" class="btn btn-info">REGISTRARSE</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

{% endblock %}
